body {
    font-family: Arial, sans-serif;
    background-color: #FCEDDA;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    min-height: 100vh; /* Ensure the container takes the full viewport height */
    margin: 0; /* Remove default body margin */
}

.container {
    background-color:#ffe4c1;
    width: 700;
    margin-bottom: 20px;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
}

div {
    padding-top: 5px;
}

h1 {
    color: #EE4E34; 
    padding-bottom: 20px;
}

label {
    font-size: 18px;
}

input {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    outline: none;
    border: none;
}

p {
    font-size: 24px;
    margin-top: 20px;
}

.persian-text {
    font-family: 'Your Persian Font', sans-serif; /* Replace 'Your Persian Font' with the desired font family name */
    font-size: 18px; /* Adjust the font size as needed */
    color: #333; /* Set your desired text color */
    line-height: 1.5; /* Set line height for better readability */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff38c;
    color: #101820;
    text-decoration: none;
    border-radius: 25px;
    transition: all 0.3s;
}

.button:hover {
    background-color: #faeb62;
    transform: scale(1.2);
}
img{
    display: none; 
    border-radius: 15px;
    margin: auto;
    margin-top: 15px;
}

